datafactory/pipeline/RefinementPipeline.json
{
	"name": "RefinementPipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup Gold Metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT * FROM dbo.MetadataGold WHERE BusinessUnit = ''', pipeline().parameters.business_unit, ''' and SourceName = ''',pipeline().parameters.source_name,''''')",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GenericAzureSqlTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Execute Gold Transformation Notebook_copy1",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Lookup Gold Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Datapoc/databricks/databricks/GoldNotebooks/GoldTransformationNotebook",
					"baseParameters": {
						"business_unit": {
							"value": "@item().BusinessUnit",
							"type": "Expression"
						},
						"source_path": "silver",
						"destination_path": "gold",
						"mask_columns": {
							"value": "@item().mask_columns",
							"type": "Expression"
						},
						"source_name": {
							"value": "@item().SourceName",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricksDatapoc",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"business_unit": {
				"type": "string"
			},
			"source_name": {
				"type": "string"
			}
		},
		"folder": {
			"name": "3-Gold"
		},
		"annotations": []
	}
}