datafactory/pipeline/SilverTransformationPipeline.json
{
	"name": "SilverTransformationPipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup Metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT * FROM dbo.MetadataSilver WHERE BusinessUnit = ''', pipeline().parameters.business_unit, '''')",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GenericAzureSqlTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Metadata",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Metadata').output.value\n",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Silver Notebook",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ExecuteSilverNotebookPipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"business_unit": {
										"value": "@item().BusinessUnit",
										"type": "Expression"
									},
									"execution_notebooks": {
										"value": "@item().executionnotebooks",
										"type": "Expression"
									},
									"source_name": {
										"value": "@item().SourceName",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"business_unit": {
				"type": "string",
				"defaultValue": "Sales"
			}
		},
		"folder": {
			"name": "2-Silver"
		},
		"annotations": []
	}
}